* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
h1 {
margin-bottom: 30px;
margin-top: 30px;
text-align: center;
}
.row > div {
border: 1px solid black;
margin: 10px;
background-color: #C0C0C0;
}
.red, .pink, .yellow{
  float: right;
  width: 100px;
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.red{
  background-color: red;
}
.pink{
  background-color: pink;
}
.yellow{
  background-color: yellow;
}
.description{
  clear:both;
  padding: 2%;
}

@media (min-width: 992px) {
  .column, .column1 {
	float: left;
	width: calc(33.33% - 22px)
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .column {
  float: left;
  width: calc(50% - 22px)
  }
  .column1 {
  float: left;
  width: calc(100% - 22px)
  }
}
@media (max-width: 767px) {
  .column, .column1 {
  width: calc(100% - 22px)
  }
}
