* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}
.t1 {
  background-color:
  width:
  height:
}
.row {
  width: 100%;
}
@media (min-width: 992px) {

 float:left
}
@media (min-width: 768px) and (max-width: 991px) {

 float:left
}
@media (max-width: 767px) {

 float:left
}
